@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: "Open Sans";
	-webkit-font-smoothing: antialiased;
}

input:not([type="submit"]),
textarea,
p,
h1, h2, h3, h4, h5,
span {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-touch-callout: auto;
  user-select: auto;
}

input,
input[type="range"] {
	outline: none;

	&:active, &:focus {
		outline: none;
	}

	&::-ms-clear {
		display: none;
	}
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
 display: block;
}

ol,
ul,
li {
	list-style: none;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	cursor: pointer;
}

a, button {
	outline: none;
	border: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

p { font-size: 1rem; }      //14.0px
h1 { font-size: 3rem; }     //42.0px
h2 { font-size: 2.25rem; }  //31.5px
h3 { font-size: 1.75rem; }  //24.5px
h4 { font-size: 1.25rem;}   //17.5px
h5 { font-size: 1rem; }     //14.0px
h6 { font-size: 0.75rem; }  //10.5px